
body{
    background: coral;
}
.container_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25% auto;
    background-color: burlywood;
   

}
.container__tarefas{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.container__dados{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
